<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tealium.tealiumlibrary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:label="test_app">
        <activity android:name="com.tealium.tealiumlibrary.QAActivity" />
    </application>

</manifest>
