<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tealium.tealiumlibrary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <provider
            android:name="com.tealium.core.internal.TealiumInitProvider"
            android:authorities="${applicationId}.tealiuminitprovider"
            android:exported="false"
            android:initOrder="100"
            tools:node="merge">
            <meta-data
                android:name="com.tealium.core.internal.TealiumInitProvider.TIMEOUT_SECONDS"
                android:value="10"
                tools:node="merge"
                />
        </provider>
    </application>

</manifest>
